@model IEnumerable<RNWA_MVC.Models.Filmovi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Popis filmova</h4>
<hr/>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazivFilma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trajanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.redatelji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.glumci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.godinaProdukcije)
            </th>
            <th>
            <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Film</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazivFilma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trajanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.redatelji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.glumci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.godinaProdukcije)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.id" class="text-danger ml-1" onclick="return confirm('Jeste li sigurni da želite obrisati ovaj zapis ?')">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
